@import url("https://fonts.googleapis.com/css2?family=Galdeano&family=Ruluko&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruluko", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.toolbar {
  height: 80vh;
  width: 80%;
  outline: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}
.title {
  font-family: "Galdeano", sans-serif;
  font-size: 44px;
}
.credits {
  font-size: 20px;
}

.grid {
  display: grid;
  height: 700px;
  width: 700px;
  outline: 5px solid black;
}

.cell {
  outline: 1px solid black;
}

.toolbar * {
  height: 50px;
  width: 200px;
}

.row-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-size-l {
  width: 120px;
  height: 50px;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-size-r {
  width: 50px;
  height: 50px;
  outline: 1px solid black;
}
